#content {
    display: flex;
    font-size: 14px;
    margin: 20px auto;
    min-height: calc(100vh - 40px);
    min-width: 825px;
    max-width: 1250px;
    border-right: 3px solid #eebebe;
}

#header p {
    text-align: justify;
    max-width: 700px;
}

aside {
    padding-top: 2em;
    flex: 25%;
    background-color: #eebebe;
}

section {
    padding: 1em 2em;
}

main {
    flex: 75%;
    padding: 3em 2em;
}

main h3 {
    color: #d25d5d;
}

#projects ol {
    max-width: 350px;
}

#projects li {
    position: relative;
}

#projects span {
    float: right;
}

#projects span::before {
    content: '[ ';
}

#projects span::after {
    content: ' ]';
}

#contacts div {
    margin-bottom: 0.5em;
}

#contacts div:last-child {
    margin-bottom: 0;
}

#contacts span {
    font-weight: bold;
}

#contacts span::after {
    content: ': ';
}
