#content {
    display: flex;
    font-size: 14px;
    margin: 20px auto;
    min-height: calc(100vh - 40px);
    min-width: 1200px;
    max-width: 1250px;
    border-right: 5px solid #eebebe;
    box-shadow: #999 0 0 20px;
}

aside {
    padding-top: 2em;
    flex: 25%;
    background-color: #eebebe;
}

section, header {
    padding: 1em 2em;
}

main {
    color: #595959;
    flex: 75%;
    padding: 3em 2em;
}

main h3 {
    color: #d25d5d;
}

#header h1 {
    margin-bottom: 0 !important;
}

#header h1 span {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

#header p {
    text-align: justify;
    max-width: 80%;
}

#extra-info {
    margin-bottom: 0 !important;
    color: white;
}

#projects ol {
    max-width: 45%;
}

#projects li {
    position: relative;
}

#projects span {
    float: right;
}

#projects span::before {
    content: '[ ';
}

#projects span::after {
    content: ' ]';
}

.education p {
    font-size: 12px;
}

#contacts div {
    margin-bottom: 0.5em;
}

#contacts div:last-child {
    margin-bottom: 0;
}

#contacts span {
    font-weight: bold;
}

#contacts span::after {
    content: ': ';
}
